body{
  padding-top: 30px;
}

.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@font-face{
  font-family: ds3;
  src: url("/static/Midias/Fontes/Fonte.otf");
}
  
.branco{
  color: white;
  font-family: ds3;
}
  
.fonte{
  font-family: ds3;
}

hr{
  color:white;
  background-color:white;
}

.meio{
  padding-left: 170px;
}